<% if (theme.back_to_top){ %>
  <div id="back-to-top">
    <a title="<%= __('back_to_top')%>"><img src="/img/scrollup.png"/></a>
  </div>
  <script src="<%- config.root %>js/back_to_top.js"></script>
<% } %>
